apresentacao_rsa/*.aux
apresentacao_rsa/*.fdb_latexmk
apresentacao_rsa/*.fls
apresentacao_rsa/*.log
apresentacao_rsa/*.nav
apresentacao_rsa/*.out
apresentacao_rsa/*.pdf
apresentacao_rsa/*.snm
apresentacao_rsa/*.toc
